html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
      /* 🔥 glass effect */
  background: gray;
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);

}

#container {
  background-image: url("../images/Headshot.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Large screens */
@media (min-width: 1200px) {
  #container {
    background-size: contain;
  }
}
#container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* key */
  object-position: center;
}


.hero-title {
  position: relative;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-shadow:
    0 2px 6px rgba(0,0,0,0.6),
    0 8px 30px rgba(0,0,0,1);
  z-index: 3;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;

}




/* ---------- Navigation Overlay ---------- */
.nav-overlay {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.nav-btn {
  padding: 18px 32px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  color: #111;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s ease, background 0.2s ease;
}

.nav-btn:hover {
  transform: translateY(-3px);
  background: white;
}

@media (max-width: 600px) {
  .nav-overlay {
    top: 70%;
    max-width: 90%;
    gap: 16px;
  }

  .nav-btn {
    padding: 18px 32px;   
    font-size: 1.1rem;    
    border-radius: 36px;
  }
}
